.SecaoCadastro{
    margin-top: 5%;
    margin-bottom: 5%;
}

.CadastroInfos {
    font-size: 25px;
    font: bold;
}

.centro{
    text-align: center;
}


.botaoPadrao {
    background-color: #181e3a;
    text-align: center;
    padding: 25px 90px 25px 90px;
    border-radius: 40px;
    color: white;
    font-size: 20px;
    list-style-type: none;
}

    .botaoPadrao:hover {
        background-color: #ff4514;
        transition-duration: 0.4s;
        color: black;
    }

.botaoEnviar {
    background-color: #181e3a;
    text-align: center;
    padding: 10px 50px 10px 50px;
    border-radius: 40px;
    color: white;
    font-size: 20px;
    list-style-type: none;
}

.botaoEnviar:hover {
    background-color: #ff4514;
    transition-duration: 0.4s;
    color: black;
}

.espacobaixo {
    margin-bottom: 3%;
}